.gallery {
  background: black;
  padding: 4rem 0;

  .main-gallery {
    background: black;

    .link-item {
      .img-item {
        filter: grayscale(100%) opacity(0.4) blur(1px);
        -webkit-filter: grayscale(100%) opacity(0.4) blur(1px);
        filter: grayscale(100%) opacity(0.4) blur(1px);
        transition: filter 0.3s ease;

        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          /* border: solid 1px red; */
          box-shadow: inset 0 0 14px 9px #000;
          transition: filter 0.3s ease;
        }

        &:hover {
          &::before {
            display: none;
          }
        }

        &:hover {
          filter: none;
        }
      }
    }
  }
}
